* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#canvas {
  width: 100%;
  height: 90vh;
  padding: 0;
  margin: 0;
  /* background-color: rgb(31, 90, 199); */
  background-image: url(/image10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
